.items {
  width: 100%;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.items-inner {
  width: 930px;
}

.item-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

.item-list a {
  text-decoration: none;
  color: #777777;
}

.item-list li {
  width: 320px;
  height: 460px;
}

.item-image {
  width: 33vh;
  height: 45vh;
}

